body {
  background-color: rgb(153, 138, 138);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
  }
  section {
    margin-top: 80px;
    font-size: 175%;
    font-style: bold;
    text-align: center;
  }

  h1 {
      padding: 4px;
      border: 1px black;
      float: right;
      width: fit-content;
      font-size: 125%;
      text-align: right;  
    }
    
  p {
      float: left;
      border: 0px solid black;
      margin: 0;
      margin-top:10px;
      padding: 10px;
      font-family: serif;
      text-align: left;
      vertical-align: bottom;
      color: white;
  }
  
  div {
        border: 1px black;
        background-color: rgb(126, 86, 73);
        margin-top:0;
        padding: 0%;
  }
